@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        color: #efeedd;
        background: #39393a;
    }

    body {
        min-height: 100vh;
    }
}
